<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/MonumentiMilano.css')}}">
    <title>Monumenti Milano</title>
</head>
<body>
    <h1><span class="yellow">Benvenuti nel mio museo virtuale</pan></h1><br><br><br><br>
        
        <table class="container">
          <tbody>
            <tr>
              <td><a style="color: #00B8F5;"href="primaimmaginemuseo1.html">Arco Della Vittoria</a><details><summary>clicca</summary><img id="img1"src="static/css/img/ArcoDellaVittoria.jpg"></details></td>
              <td><a style="color: #00B8F5;"href="secondaimmaginemuseo.html">Basilica Di San Lorenzo Maggiore</a><details><summary>clicca</summary><img id="img2"src="static/css/img/BasilicaDiSanLorenzoMaggiore.jpg"></details></td>
              <td><a style="color: #00B8F5;"href="terzaimmaginemuseo.html">battaglia San Martino</a><details><summary>clicca</summary><img id="img3"src="static/css/img/battagliaSanMartino.jpg"></details></td>
            </tr>
        </tbody>
    </table>
</body>
</html>